APP_NAME="BlipBlap eSIM"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8010

DB_CONNECTION=sqlite
CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

MAIL_MAILER=log
MAIL_SCHEME=
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS="hello@blipblap.test"
MAIL_FROM_NAME="BlipBlap eSIM"

ESIM_GO_BASE_URL=https://api.esim-go.com/v2.5
ESIM_GO_API_KEY=
ESIM_GO_TIMEOUT=25
ESIM_GO_RETRY_TIMES=2
ESIM_GO_RETRY_SLEEP=300

BLIPBLAP_CURRENCY=USD
BLIPBLAP_MARKUP_PERCENTAGE=20

LOCAL_ADMIN_EMAIL=admin@blipblap.test
